TODO Farben anpassen html,
body {
  height: 100vh;
}
form {
  width: 100%;
  max-width: 330px;
  margin-bottom: 20vh;
}

.icon {
  font-size: 4.6em;
  color: #2aa58a;
}

/* Dark Mode Input */
.input-field {
  color: #fff;
  background-color: #444444;
  border: 1px solid #686868;
}
.input-field:focus {
  color: #fff;
  background-color: #505050;
}
.input-field:active {
  color: #fff;
  background-color: #686868;
}
.input-field::placeholder {
  color: #fff;
}

/* Customized Button Colors */
.highlighted-button {
  background-color: #2aa58a;
}
.highlighted-button:hover {
  background-color: #268a74;
}
.background-button {
  background-color: #585858;
}
.background-button:hover {
  background-color: #494949;
}
